.row {
  display: flex;
}
[class~="col::"] > * {
  display: flex;
}
.row {
  flex-direction: row;
}
[class~="col::"] > * {
  flex-direction: column;
}
.row_ {
  content: "";
}
@media screen and (max-width: 575px) {
  [class~="xs:row"] {
    flex-direction: row;
  }
}
@media screen and (max-width: 575px) {
  [class~="xs:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:row"] {
    flex-direction: row;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:row"] {
    flex-direction: row;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:row"] {
    flex-direction: row;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:row"] {
    flex-direction: row;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:row"] {
    flex-direction: row;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:row"] {
    flex-direction: row;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:row"] {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:row"] {
    flex-direction: row;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:row"] {
    flex-direction: row;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:row"] {
    flex-direction: row;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:row"] {
    flex-direction: row;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:row"] {
    flex-direction: row;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:row"] {
    flex-direction: row;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:row"] {
    flex-direction: row;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:row"] {
    flex-direction: row;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:row:hover"]:hover {
    flex-direction: row;
  }
}
@media screen and (max-width: 575px) {
  [class~="xs:col::"] > * {
    flex-direction: column;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:col::"] > * {
    flex-direction: column;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:col::"] > * {
    flex-direction: column;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:col::"] > * {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:col"] {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:col:hover"]:hover {
    flex-direction: column;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:col::"] > * {
    flex-direction: column;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:col::"] > * {
    flex-direction: column;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:col::"] > * {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:col::"] > * {
    flex-direction: column;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:col::"] > * {
    flex-direction: column;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:col::"] > * {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:col::"] > * {
    flex-direction: column;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:col::"] > * {
    flex-direction: column;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:col::"] > * {
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:col::"] > * {
    flex-direction: column;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:col::"] > * {
    flex-direction: column;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:col::"] > * {
    flex-direction: column;
  }
}
.start {
  justify-content: flex-start;
}
.start_ {
  content: "";
}
@media screen and (max-width: 575px) {
  [class~="xs:start"] {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 575px) {
  [class~="xs:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:start"] {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:start"] {
    justify-content: flex-start;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:start"] {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:start"] {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:start"] {
    justify-content: flex-start;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:start"] {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:start"] {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:start"] {
    justify-content: flex-start;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:start"] {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:start"] {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:start"] {
    justify-content: flex-start;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:start"] {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:start"] {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:start"] {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:start:hover"]:hover {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:start"] {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:start:hover"]:hover {
    justify-content: flex-start;
  }
}
[class~="center::"] > * {
  justify-content: center;
}
[class~="a-center::"] > * {
  align-items: center;
}
@media screen and (max-width: 575px) {
  [class~="xs:center::"] > * {
    justify-content: center;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:center::"] > * {
    justify-content: center;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:center::"] > * {
    justify-content: center;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:center::"] > * {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:center::"] > * {
    justify-content: center;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:center::"] > * {
    justify-content: center;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:center::"] > * {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:center::"] > * {
    justify-content: center;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:center::"] > * {
    justify-content: center;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:center::"] > * {
    justify-content: center;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:center::"] > * {
    justify-content: center;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:center::"] > * {
    justify-content: center;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:center::"] > * {
    justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:center::"] > * {
    justify-content: center;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:center::"] > * {
    justify-content: center;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:center::"] > * {
    justify-content: center;
  }
}
@media screen and (max-width: 575px) {
  [class~="xs:a-center::"] > * {
    align-items: center;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:a-center::"] > * {
    align-items: center;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:a-center::"] > * {
    align-items: center;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:a-center::"] > * {
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:a-center::"] > * {
    align-items: center;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:a-center::"] > * {
    align-items: center;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:a-center::"] > * {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:a-center::"] > * {
    align-items: center;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:a-center::"] > * {
    align-items: center;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:a-center::"] > * {
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:a-center::"] > * {
    align-items: center;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:a-center::"] > * {
    align-items: center;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:a-center::"] > * {
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:a-center::"] > * {
    align-items: center;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:a-center::"] > * {
    align-items: center;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:a-center::"] > * {
    align-items: center;
  }
}
.vh-12_ {
  content: "";
}
@media screen and (max-width: 575px) {
  [class~="xs:vh-12"] {
    height: 96vw;
  }
}
@media screen and (max-width: 575px) {
  [class~="xs:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:vh-12"] {
    height: 96vw;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:vh-12"] {
    height: 96vw;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:vh-12"] {
    height: 96vw;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:vh-12"] {
    height: 96vw;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:vh-12"] {
    height: 96vw;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:vh-12"] {
    height: 96vw;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:vh-12"] {
    height: 96vw;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:vh-12"] {
    height: 96vw;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:vh-12"] {
    height: 96vw;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:vh-12"] {
    height: 96vw;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:vh-12"] {
    height: 96vw;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:vh-12"] {
    height: 96vw;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:vh-12"] {
    height: 96vw;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:vh-12"] {
    height: 96vw;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:vh-12:hover"]:hover {
    height: 96vw;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:vh-12"] {
    height: 96vw;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:vh-12:hover"]:hover {
    height: 96vw;
  }
}
.vh-12 {
  height: 96vw;
}
@media screen and (max-width: 575px) {
  [class~="xs:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:square-1::"] > * {
    width: 32px;
    height: 32px;
  }
}
[class~="square-1::"] > * {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 575px) {
  [class~="xs:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:ml-0::first"] > :first-child {
    margin-left: 0px;
  }
}
[class~="ml-0::first"] > :first-child {
  margin-left: 0px;
}
.p-1em_ {
  content: "";
}
@media screen and (max-width: 575px) {
  [class~="xs:p-1em"] {
    padding: 1em;
  }
}
@media screen and (max-width: 575px) {
  [class~="xs:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:p-1em"] {
    padding: 1em;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:p-1em"] {
    padding: 1em;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:p-1em"] {
    padding: 1em;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:p-1em"] {
    padding: 1em;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:p-1em"] {
    padding: 1em;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:p-1em"] {
    padding: 1em;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:p-1em"] {
    padding: 1em;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:p-1em"] {
    padding: 1em;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:p-1em"] {
    padding: 1em;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:p-1em"] {
    padding: 1em;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:p-1em"] {
    padding: 1em;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:p-1em"] {
    padding: 1em;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:p-1em"] {
    padding: 1em;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:p-1em"] {
    padding: 1em;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:p-1em:hover"]:hover {
    padding: 1em;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:p-1em"] {
    padding: 1em;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:p-1em:hover"]:hover {
    padding: 1em;
  }
}
.p-1em {
  padding: 1em;
}
@media screen and (max-width: 575px) {
  [class~="xs:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and (min-width: 575px) {
  [class~="mxs:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and ((min-width: 576px) and (max-width: 767px)) {
  [class~="sm:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and (min-width: 767px) {
  [class~="msm:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and (max-width: 576px) {
  [class~="lsm:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and ((min-width: 768px) and (max-width: 991px)) {
  [class~="md:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and (min-width: 991px) {
  [class~="mmd:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and (max-width: 768px) {
  [class~="lmd:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and ((min-width: 992px) and (max-width: 1199px)) {
  [class~="lg:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and (min-width: 1199px) {
  [class~="mlg:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and (max-width: 992px) {
  [class~="llg:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and ((min-width: 1200px) and (max-width: 1399px)) {
  [class~="xl:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and (min-width: 1399px) {
  [class~="mxl:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and (max-width: 1200px) {
  [class~="lxl:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and (min-width: 1400px) {
  [class~="xxl:ml-1em::"] > * {
    margin-left: 1em;
  }
}
@media screen and (max-width: 1400px) {
  [class~="lxxl:ml-1em::"] > * {
    margin-left: 1em;
  }
}
[class~="ml-1em::"] > * {
  margin-left: 1em;
}
@media screen and (min-width: 767px) {
  [class~="msm:fs-5::"] > * {
    font-size: 1.5em;
  }
}
[class~="cursor-pointer::"] > * {
  cursor: pointer;
}
[class~="bold::"] > * {
  font-weight: bold;
}
:root {
  --primary: royalblue;
  --primary-1: #132c76;
  --primary-4: #6d8ce8;
  --primary-2: #1d44b8;
  --primary-5: #99afef;
  --primary-3: #214cce;
  --primary-6: #c5d1f6;
  --accent: pink;
  --accent-1: #ff274d;
  --accent-4: #fff3f5;
  --accent-2: #ff748c;
  --accent-5: white;
  --accent-3: #ff8da1;
  --accent-6: white;
  --warn: orange;
  --warn-1: #664200;
  --warn-4: #ffb733;
  --warn-2: #b37400;
  --warn-5: #ffc966;
  --warn-3: #cc8400;
  --warn-6: #ffdb99;
  --error: rgb(205, 0, 41);
  --error-1: #34000a;
  --error-4: #ff0134;
  --error-2: #81001a;
  --error-5: #ff345d;
  --error-3: #9a001f;
  --error-6: #ff6785;
  --success: rgb(0, 198, 0);
  --success-1: #002d00;
  --success-4: #00f900;
  --success-2: #007a00;
  --success-5: #2dff2d;
  --success-3: #009300;
  --success-6: #60ff60;
  --info: rgb(0, 210, 210);
  --info-1: #003939;
  --info-4: #06ffff;
  --info-2: #008686;
  --info-5: #39ffff;
  --info-3: #009f9f;
  --info-6: #6cffff;
  --warning: orange;
  --warning-1: #664200;
  --warning-4: #ffb733;
  --warning-2: #b37400;
  --warning-5: #ffc966;
  --warning-3: #cc8400;
  --warning-6: #ffdb99;
  --white: white;
  --white-1: #b3b3b3;
  --white-4: white;
  --white-2: #d9d9d9;
  --white-5: white;
  --white-3: #e6e6e6;
  --white-6: white;
  --black: rgb(59, 59, 59);
  --black-1: black;
  --black-4: #555555;
  --black-2: #151515;
  --black-5: #6e6e6e;
  --black-3: #222222;
  --black-6: #888888;
}
.br-primary_ {
  content: "";
}
.br-primary {
  border-color: var(--primary);
}
[class~="br-primary::odd"] > :nth-child(2n + 1) {
  border-color: var(--primary);
}
[class~="br-warn::even"] > :nth-child(2n) {
  border-color: var(--warn);
}
[class~="error::hover"] > :hover {
  color: var(--error);
}
[class~="brl-error-3::hover"] > :hover {
  border-left-color: var(--error-3);
}
