:root {
  --primary: royalblue;
  --primary-1: #132c76;
  --primary-4: #6d8ce8;
  --primary-2: #1d44b8;
  --primary-5: #99afef;
  --primary-3: #214cce;
  --primary-6: #c5d1f6;
  --accent: pink;
  --accent-1: #ff274d;
  --accent-4: #fff3f5;
  --accent-2: #ff748c;
  --accent-5: white;
  --accent-3: #ff8da1;
  --accent-6: white;
  --warn: orangered;
  --warn-1: #661c00;
  --warn-4: #ff6a33;
  --warn-2: #b33000;
  --warn-5: #ff8f66;
  --warn-3: #cc3700;
  --warn-6: #ffb599;
  --error: rgb(205, 0, 41);
  --error-1: #34000a;
  --error-4: #ff0134;
  --error-2: #81001a;
  --error-5: #ff345d;
  --error-3: #9a001f;
  --error-6: #ff6785;
  --success: rgb(0, 198, 0);
  --success-1: #002d00;
  --success-4: #00f900;
  --success-2: #007a00;
  --success-5: #2dff2d;
  --success-3: #009300;
  --success-6: #60ff60;
  --info: rgb(0, 210, 210);
  --info-1: #003939;
  --info-4: #06ffff;
  --info-2: #008686;
  --info-5: #39ffff;
  --info-3: #009f9f;
  --info-6: #6cffff;
  --warning: orange;
  --warning-1: #664200;
  --warning-4: #ffb733;
  --warning-2: #b37400;
  --warning-5: #ffc966;
  --warning-3: #cc8400;
  --warning-6: #ffdb99;
}

.primary, [class~="primary:hover"]:hover,
[class~="primary:focus"]:focus,
[class~="primary:active"]:active {
  color: var(--primary);
}

.bg-primary, [class~="bg-primary:hover"]:hover,
[class~="bg-primary:focus"]:focus,
[class~="bg-primary:active"]:active {
  background-color: var(--primary);
}

.primary-1, [class~="primary-1:hover"]:hover,
[class~="primary-1:focus"]:focus,
[class~="primary-1:active"]:active {
  color: var(--primary-1);
}

.bg-primary-1, [class~="bg-primary-1:hover"]:hover,
[class~="bg-primary-1:focus"]:focus,
[class~="bg-primary-1:active"]:active {
  background-color: var(--primary-1);
}

.primary-2, [class~="primary-2:hover"]:hover,
[class~="primary-2:focus"]:focus,
[class~="primary-2:active"]:active {
  color: var(--primary-2);
}

.bg-primary-2, [class~="bg-primary-2:hover"]:hover,
[class~="bg-primary-2:focus"]:focus,
[class~="bg-primary-2:active"]:active {
  background-color: var(--primary-2);
}

.primary-3, [class~="primary-3:hover"]:hover,
[class~="primary-3:focus"]:focus,
[class~="primary-3:active"]:active {
  color: var(--primary-3);
}

.bg-primary-3, [class~="bg-primary-3:hover"]:hover,
[class~="bg-primary-3:focus"]:focus,
[class~="bg-primary-3:active"]:active {
  background-color: var(--primary-3);
}

.primary-4, [class~="primary-4:hover"]:hover,
[class~="primary-4:focus"]:focus,
[class~="primary-4:active"]:active {
  color: var(--primary-4);
}

.bg-primary-4, [class~="bg-primary-4:hover"]:hover,
[class~="bg-primary-4:focus"]:focus,
[class~="bg-primary-4:active"]:active {
  background-color: var(--primary-4);
}

.primary-5, [class~="primary-5:hover"]:hover,
[class~="primary-5:focus"]:focus,
[class~="primary-5:active"]:active {
  color: var(--primary-5);
}

.bg-primary-5, [class~="bg-primary-5:hover"]:hover,
[class~="bg-primary-5:focus"]:focus,
[class~="bg-primary-5:active"]:active {
  background-color: var(--primary-5);
}

.primary-6, [class~="primary-6:hover"]:hover,
[class~="primary-6:focus"]:focus,
[class~="primary-6:active"]:active {
  color: var(--primary-6);
}

.bg-primary-6, [class~="bg-primary-6:hover"]:hover,
[class~="bg-primary-6:focus"]:focus,
[class~="bg-primary-6:active"]:active {
  background-color: var(--primary-6);
}

.accent, [class~="accent:hover"]:hover,
[class~="accent:focus"]:focus,
[class~="accent:active"]:active {
  color: var(--accent);
}

.bg-accent, [class~="bg-accent:hover"]:hover,
[class~="bg-accent:focus"]:focus,
[class~="bg-accent:active"]:active {
  background-color: var(--accent);
}

.accent-1, [class~="accent-1:hover"]:hover,
[class~="accent-1:focus"]:focus,
[class~="accent-1:active"]:active {
  color: var(--accent-1);
}

.bg-accent-1, [class~="bg-accent-1:hover"]:hover,
[class~="bg-accent-1:focus"]:focus,
[class~="bg-accent-1:active"]:active {
  background-color: var(--accent-1);
}

.accent-2, [class~="accent-2:hover"]:hover,
[class~="accent-2:focus"]:focus,
[class~="accent-2:active"]:active {
  color: var(--accent-2);
}

.bg-accent-2, [class~="bg-accent-2:hover"]:hover,
[class~="bg-accent-2:focus"]:focus,
[class~="bg-accent-2:active"]:active {
  background-color: var(--accent-2);
}

.accent-3, [class~="accent-3:hover"]:hover,
[class~="accent-3:focus"]:focus,
[class~="accent-3:active"]:active {
  color: var(--accent-3);
}

.bg-accent-3, [class~="bg-accent-3:hover"]:hover,
[class~="bg-accent-3:focus"]:focus,
[class~="bg-accent-3:active"]:active {
  background-color: var(--accent-3);
}

.accent-4, [class~="accent-4:hover"]:hover,
[class~="accent-4:focus"]:focus,
[class~="accent-4:active"]:active {
  color: var(--accent-4);
}

.bg-accent-4, [class~="bg-accent-4:hover"]:hover,
[class~="bg-accent-4:focus"]:focus,
[class~="bg-accent-4:active"]:active {
  background-color: var(--accent-4);
}

.accent-5, [class~="accent-5:hover"]:hover,
[class~="accent-5:focus"]:focus,
[class~="accent-5:active"]:active {
  color: var(--accent-5);
}

.bg-accent-5, [class~="bg-accent-5:hover"]:hover,
[class~="bg-accent-5:focus"]:focus,
[class~="bg-accent-5:active"]:active {
  background-color: var(--accent-5);
}

.accent-6, [class~="accent-6:hover"]:hover,
[class~="accent-6:focus"]:focus,
[class~="accent-6:active"]:active {
  color: var(--accent-6);
}

.bg-accent-6, [class~="bg-accent-6:hover"]:hover,
[class~="bg-accent-6:focus"]:focus,
[class~="bg-accent-6:active"]:active {
  background-color: var(--accent-6);
}

.warn, [class~="warn:hover"]:hover,
[class~="warn:focus"]:focus,
[class~="warn:active"]:active {
  color: var(--warn);
}

.bg-warn, [class~="bg-warn:hover"]:hover,
[class~="bg-warn:focus"]:focus,
[class~="bg-warn:active"]:active {
  background-color: var(--warn);
}

.warn-1, [class~="warn-1:hover"]:hover,
[class~="warn-1:focus"]:focus,
[class~="warn-1:active"]:active {
  color: var(--warn-1);
}

.bg-warn-1, [class~="bg-warn-1:hover"]:hover,
[class~="bg-warn-1:focus"]:focus,
[class~="bg-warn-1:active"]:active {
  background-color: var(--warn-1);
}

.warn-2, [class~="warn-2:hover"]:hover,
[class~="warn-2:focus"]:focus,
[class~="warn-2:active"]:active {
  color: var(--warn-2);
}

.bg-warn-2, [class~="bg-warn-2:hover"]:hover,
[class~="bg-warn-2:focus"]:focus,
[class~="bg-warn-2:active"]:active {
  background-color: var(--warn-2);
}

.warn-3, [class~="warn-3:hover"]:hover,
[class~="warn-3:focus"]:focus,
[class~="warn-3:active"]:active {
  color: var(--warn-3);
}

.bg-warn-3, [class~="bg-warn-3:hover"]:hover,
[class~="bg-warn-3:focus"]:focus,
[class~="bg-warn-3:active"]:active {
  background-color: var(--warn-3);
}

.warn-4, [class~="warn-4:hover"]:hover,
[class~="warn-4:focus"]:focus,
[class~="warn-4:active"]:active {
  color: var(--warn-4);
}

.bg-warn-4, [class~="bg-warn-4:hover"]:hover,
[class~="bg-warn-4:focus"]:focus,
[class~="bg-warn-4:active"]:active {
  background-color: var(--warn-4);
}

.warn-5, [class~="warn-5:hover"]:hover,
[class~="warn-5:focus"]:focus,
[class~="warn-5:active"]:active {
  color: var(--warn-5);
}

.bg-warn-5, [class~="bg-warn-5:hover"]:hover,
[class~="bg-warn-5:focus"]:focus,
[class~="bg-warn-5:active"]:active {
  background-color: var(--warn-5);
}

.warn-6, [class~="warn-6:hover"]:hover,
[class~="warn-6:focus"]:focus,
[class~="warn-6:active"]:active {
  color: var(--warn-6);
}

.bg-warn-6, [class~="bg-warn-6:hover"]:hover,
[class~="bg-warn-6:focus"]:focus,
[class~="bg-warn-6:active"]:active {
  background-color: var(--warn-6);
}

.error, [class~="error:hover"]:hover,
[class~="error:focus"]:focus,
[class~="error:active"]:active {
  color: var(--error);
}

.bg-error, [class~="bg-error:hover"]:hover,
[class~="bg-error:focus"]:focus,
[class~="bg-error:active"]:active {
  background-color: var(--error);
}

.error-1, [class~="error-1:hover"]:hover,
[class~="error-1:focus"]:focus,
[class~="error-1:active"]:active {
  color: var(--error-1);
}

.bg-error-1, [class~="bg-error-1:hover"]:hover,
[class~="bg-error-1:focus"]:focus,
[class~="bg-error-1:active"]:active {
  background-color: var(--error-1);
}

.error-2, [class~="error-2:hover"]:hover,
[class~="error-2:focus"]:focus,
[class~="error-2:active"]:active {
  color: var(--error-2);
}

.bg-error-2, [class~="bg-error-2:hover"]:hover,
[class~="bg-error-2:focus"]:focus,
[class~="bg-error-2:active"]:active {
  background-color: var(--error-2);
}

.error-3, [class~="error-3:hover"]:hover,
[class~="error-3:focus"]:focus,
[class~="error-3:active"]:active {
  color: var(--error-3);
}

.bg-error-3, [class~="bg-error-3:hover"]:hover,
[class~="bg-error-3:focus"]:focus,
[class~="bg-error-3:active"]:active {
  background-color: var(--error-3);
}

.error-4, [class~="error-4:hover"]:hover,
[class~="error-4:focus"]:focus,
[class~="error-4:active"]:active {
  color: var(--error-4);
}

.bg-error-4, [class~="bg-error-4:hover"]:hover,
[class~="bg-error-4:focus"]:focus,
[class~="bg-error-4:active"]:active {
  background-color: var(--error-4);
}

.error-5, [class~="error-5:hover"]:hover,
[class~="error-5:focus"]:focus,
[class~="error-5:active"]:active {
  color: var(--error-5);
}

.bg-error-5, [class~="bg-error-5:hover"]:hover,
[class~="bg-error-5:focus"]:focus,
[class~="bg-error-5:active"]:active {
  background-color: var(--error-5);
}

.error-6, [class~="error-6:hover"]:hover,
[class~="error-6:focus"]:focus,
[class~="error-6:active"]:active {
  color: var(--error-6);
}

.bg-error-6, [class~="bg-error-6:hover"]:hover,
[class~="bg-error-6:focus"]:focus,
[class~="bg-error-6:active"]:active {
  background-color: var(--error-6);
}

.success, [class~="success:hover"]:hover,
[class~="success:focus"]:focus,
[class~="success:active"]:active {
  color: var(--success);
}

.bg-success, [class~="bg-success:hover"]:hover,
[class~="bg-success:focus"]:focus,
[class~="bg-success:active"]:active {
  background-color: var(--success);
}

.success-1, [class~="success-1:hover"]:hover,
[class~="success-1:focus"]:focus,
[class~="success-1:active"]:active {
  color: var(--success-1);
}

.bg-success-1, [class~="bg-success-1:hover"]:hover,
[class~="bg-success-1:focus"]:focus,
[class~="bg-success-1:active"]:active {
  background-color: var(--success-1);
}

.success-2, [class~="success-2:hover"]:hover,
[class~="success-2:focus"]:focus,
[class~="success-2:active"]:active {
  color: var(--success-2);
}

.bg-success-2, [class~="bg-success-2:hover"]:hover,
[class~="bg-success-2:focus"]:focus,
[class~="bg-success-2:active"]:active {
  background-color: var(--success-2);
}

.success-3, [class~="success-3:hover"]:hover,
[class~="success-3:focus"]:focus,
[class~="success-3:active"]:active {
  color: var(--success-3);
}

.bg-success-3, [class~="bg-success-3:hover"]:hover,
[class~="bg-success-3:focus"]:focus,
[class~="bg-success-3:active"]:active {
  background-color: var(--success-3);
}

.success-4, [class~="success-4:hover"]:hover,
[class~="success-4:focus"]:focus,
[class~="success-4:active"]:active {
  color: var(--success-4);
}

.bg-success-4, [class~="bg-success-4:hover"]:hover,
[class~="bg-success-4:focus"]:focus,
[class~="bg-success-4:active"]:active {
  background-color: var(--success-4);
}

.success-5, [class~="success-5:hover"]:hover,
[class~="success-5:focus"]:focus,
[class~="success-5:active"]:active {
  color: var(--success-5);
}

.bg-success-5, [class~="bg-success-5:hover"]:hover,
[class~="bg-success-5:focus"]:focus,
[class~="bg-success-5:active"]:active {
  background-color: var(--success-5);
}

.success-6, [class~="success-6:hover"]:hover,
[class~="success-6:focus"]:focus,
[class~="success-6:active"]:active {
  color: var(--success-6);
}

.bg-success-6, [class~="bg-success-6:hover"]:hover,
[class~="bg-success-6:focus"]:focus,
[class~="bg-success-6:active"]:active {
  background-color: var(--success-6);
}

.info, [class~="info:hover"]:hover,
[class~="info:focus"]:focus,
[class~="info:active"]:active {
  color: var(--info);
}

.bg-info, [class~="bg-info:hover"]:hover,
[class~="bg-info:focus"]:focus,
[class~="bg-info:active"]:active {
  background-color: var(--info);
}

.info-1, [class~="info-1:hover"]:hover,
[class~="info-1:focus"]:focus,
[class~="info-1:active"]:active {
  color: var(--info-1);
}

.bg-info-1, [class~="bg-info-1:hover"]:hover,
[class~="bg-info-1:focus"]:focus,
[class~="bg-info-1:active"]:active {
  background-color: var(--info-1);
}

.info-2, [class~="info-2:hover"]:hover,
[class~="info-2:focus"]:focus,
[class~="info-2:active"]:active {
  color: var(--info-2);
}

.bg-info-2, [class~="bg-info-2:hover"]:hover,
[class~="bg-info-2:focus"]:focus,
[class~="bg-info-2:active"]:active {
  background-color: var(--info-2);
}

.info-3, [class~="info-3:hover"]:hover,
[class~="info-3:focus"]:focus,
[class~="info-3:active"]:active {
  color: var(--info-3);
}

.bg-info-3, [class~="bg-info-3:hover"]:hover,
[class~="bg-info-3:focus"]:focus,
[class~="bg-info-3:active"]:active {
  background-color: var(--info-3);
}

.info-4, [class~="info-4:hover"]:hover,
[class~="info-4:focus"]:focus,
[class~="info-4:active"]:active {
  color: var(--info-4);
}

.bg-info-4, [class~="bg-info-4:hover"]:hover,
[class~="bg-info-4:focus"]:focus,
[class~="bg-info-4:active"]:active {
  background-color: var(--info-4);
}

.info-5, [class~="info-5:hover"]:hover,
[class~="info-5:focus"]:focus,
[class~="info-5:active"]:active {
  color: var(--info-5);
}

.bg-info-5, [class~="bg-info-5:hover"]:hover,
[class~="bg-info-5:focus"]:focus,
[class~="bg-info-5:active"]:active {
  background-color: var(--info-5);
}

.info-6, [class~="info-6:hover"]:hover,
[class~="info-6:focus"]:focus,
[class~="info-6:active"]:active {
  color: var(--info-6);
}

.bg-info-6, [class~="bg-info-6:hover"]:hover,
[class~="bg-info-6:focus"]:focus,
[class~="bg-info-6:active"]:active {
  background-color: var(--info-6);
}

.warning, [class~="warning:hover"]:hover,
[class~="warning:focus"]:focus,
[class~="warning:active"]:active {
  color: var(--warning);
}

.bg-warning, [class~="bg-warning:hover"]:hover,
[class~="bg-warning:focus"]:focus,
[class~="bg-warning:active"]:active {
  background-color: var(--warning);
}

.warning-1, [class~="warning-1:hover"]:hover,
[class~="warning-1:focus"]:focus,
[class~="warning-1:active"]:active {
  color: var(--warning-1);
}

.bg-warning-1, [class~="bg-warning-1:hover"]:hover,
[class~="bg-warning-1:focus"]:focus,
[class~="bg-warning-1:active"]:active {
  background-color: var(--warning-1);
}

.warning-2, [class~="warning-2:hover"]:hover,
[class~="warning-2:focus"]:focus,
[class~="warning-2:active"]:active {
  color: var(--warning-2);
}

.bg-warning-2, [class~="bg-warning-2:hover"]:hover,
[class~="bg-warning-2:focus"]:focus,
[class~="bg-warning-2:active"]:active {
  background-color: var(--warning-2);
}

.warning-3, [class~="warning-3:hover"]:hover,
[class~="warning-3:focus"]:focus,
[class~="warning-3:active"]:active {
  color: var(--warning-3);
}

.bg-warning-3, [class~="bg-warning-3:hover"]:hover,
[class~="bg-warning-3:focus"]:focus,
[class~="bg-warning-3:active"]:active {
  background-color: var(--warning-3);
}

.warning-4, [class~="warning-4:hover"]:hover,
[class~="warning-4:focus"]:focus,
[class~="warning-4:active"]:active {
  color: var(--warning-4);
}

.bg-warning-4, [class~="bg-warning-4:hover"]:hover,
[class~="bg-warning-4:focus"]:focus,
[class~="bg-warning-4:active"]:active {
  background-color: var(--warning-4);
}

.warning-5, [class~="warning-5:hover"]:hover,
[class~="warning-5:focus"]:focus,
[class~="warning-5:active"]:active {
  color: var(--warning-5);
}

.bg-warning-5, [class~="bg-warning-5:hover"]:hover,
[class~="bg-warning-5:focus"]:focus,
[class~="bg-warning-5:active"]:active {
  background-color: var(--warning-5);
}

.warning-6, [class~="warning-6:hover"]:hover,
[class~="warning-6:focus"]:focus,
[class~="warning-6:active"]:active {
  color: var(--warning-6);
}

.bg-warning-6, [class~="bg-warning-6:hover"]:hover,
[class~="bg-warning-6:focus"]:focus,
[class~="bg-warning-6:active"]:active {
  background-color: var(--warning-6);
}/*# sourceMappingURL=style.css.map */