@use "media" as media;
@use "space" as space;
@use "color" as color;

@include space.createSpaces();
@include space.createSizes();
@include media.createMedias();

@include color.create(
  (
    primary: royalblue,
    accent: purple,
    warn: orangered,
    error: crimson,
    info: teal,
    success: green,
    black: black,
    gray: gray,
    white: white,
  )
);
