@use "../core" as core;
@use "sass:list";

@function __variants($value) {
  @return (
    1: lighten($value, 30%),
    2: lighten($value, 20%),
    3: lighten($value, 10%),
    4: darken($value, 10%),
    5: darken($value, 20%),
    6: darken($value, 30%)
  );
}

@mixin create($name, $color) {
  $selectors: core.selectors(#{$name});

  .#{$name} {
    color: #{$color};
  }

  .bg-#{$name} {
    background-color: #{$color};
  }

  #{$selectors} {
    color: #{$color};
  }

  #{core.selectors(bg-#{$name})} {
    background-color: #{$color};
  }

  @each $k, $v in __variants($color) {
    .#{$name}-#{$k} {
      color: #{$color};
    }
    .bg-#{$name}-#{$k} {
      background-color: #{$color};
    }

    #{core.selectors("#{$name}-#{$k}")} {
      color: #{$v};
    }

    #{core.selectors("bg-#{$name}-#{$k}")} {
      background-color: #{$v};
    }
  }
}
