@use "../core" as core;

@mixin createSpaces($prefix: "") {
  @include core.createRule(
    m-auto,
    (
      margin: auto,
    ),
    $prefix
  );

  @each $pn in (margin, padding) {
    $pns: core.fl($pn);

    @for $i from 1 through 12 {
      $value: #{$i * 0.5}em;

      @include core.createRule(#{$pns}-#{$i}, (#{$pn}: $value), $prefix);

      @include core.createRule(
        #{$pns}x-#{$i},
        (#{$pn}-left: $value, #{$pn}-right: $value),
        $prefix
      );

      @include core.createRule(
        #{$pns}y-#{$i},
        (#{$pn}-top: $value, #{$pn}-bottom: $value),
        $prefix
      );

      @each $side in (top, right, bottom, left) {
        @include core.createRule(
          #{$pns}#{core.fl($side)}-#{$i},
          (#{$pn}-#{$side}: $value),
          $prefix
        );
      }
    }
  }
}
