@use "_pesudo" as pesudo;

$__colorLimit: 30;
$__builtin: (
  error: rgb(205, 0, 41),
  success: rgb(0, 198, 0),
  info: rgb(0, 210, 210),
  warning: orange,
  white: white,
  black: rgb(59, 59, 59),
);

@mixin __root($n, $v) {
  --#{$n}: #{$v};

  @for $i from 1 through 3 {
    --#{$n}-#{$i}: #{darken($v, $__colorLimit / $i * 1%)};
    --#{$n}-#{$i+3}: #{lighten($v, $i * $__colorLimit / 3 * 1%)};
  }
}

@mixin __class($cn) {
  // Color
  @include pesudo.create($cn);

  .#{$cn} {
    color: var(--#{$cn});
  }

  // Background Color
  @include pesudo.create(bg-#{$cn});

  .bg-#{$cn} {
    background-color: var(--#{$cn});
  }

  // Border Color
  @include pesudo.create(br-#{$cn});

  .br-#{$cn} {
    border-color: var(--#{$cn});
  }

  // Border side colors
  @each $k, $v in (t: top, l: left, r: right, b: bottom) {
    @include pesudo.create("br#{$k}-#{$cn}");
    .br#{$k}-#{$cn} {
      border-#{$v}-color: var(--#{$cn}) !important;
    }
  }

  @for $i from 1 through 6 {
    $ccn: #{$cn}-#{$i};

    @include pesudo.create($ccn);

    .#{$ccn} {
      color: var(--#{$ccn});
    }

    @include pesudo.create(bg-#{$ccn});

    .bg-#{$ccn} {
      background-color: var(--#{$ccn});
    }

    // Border Colors
    @include pesudo.create(br-#{$ccn});

    .br-#{$ccn} {
      border-color: var(--#{$ccn});
    }

    // Border side colors
    @each $k, $v in (t: top, l: left, r: right, b: bottom) {
      @include pesudo.create(br#{$k}-#{$ccn});

      .br#{$k}-#{$ccn} {
        border-#{$v}-color: var(--#{$ccn});
      }
    }
  }
}

@mixin __builtinRoot() {
  @each $k, $v in $__builtin {
    @include __root($k, $v);
  }
}

@mixin __builtinClass() {
  @each $k, $v in $__builtin {
    @include __class($k);
  }
}

@mixin createColorClasses() {
  @include __class(primary);
  @include __class(accent);
  @include __class(warn);
  @include __builtinClass();
}

@mixin createColorRoot($primary, $accent, $warn) {
  :root {
    @include __root(primary, $primary);
    @include __root(accent, $accent);
    @include __root(warn, $warn);
    @include __builtinRoot();
  }
}
