$_justify: (
  flex-start,
  flex-end,
  space-around,
  space-between,
  space-evenly,
  stretch
);

.flex {
  display: flex;
}

.row {
  @extend .flex;
  flex-direction: row;
}

.col {
  @extend .flex;
  flex-direction: column;
}

.container {
  @extend .row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
