@use "_media" as media;
@use "_pesudo" as pesudo;

$_justify: (
  start: flex-start,
  end: flex-end,
  around: space-around,
  between: space-between,
  evenly: space-evenly,
  stretch: stretch,
  center: center,
);

.flex {
  display: flex;
}

.row {
  @extend .flex;
  flex-direction: row;
}

.col {
  @extend .flex;
  flex-direction: column;
}

@include pesudo.create("row");
@include media.createMediaClasses(
  "row",
  (
    flex-direction: row,
  )
);

@include pesudo.create("col");
@include media.createMediaClasses(
  "col",
  (
    flex-direction: column,
  )
);

.container {
  @extend .row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@each $k, $v in $_justify {
  .#{$k} {
    justify-content: #{$v};
  }

  .a-#{$k} {
    align-items: #{$v};
  }

  .ac-#{$k} {
    align-content: #{$v};
  }

  @include pesudo.create($k);
  @include pesudo.create("a-" + $k);
  @include pesudo.create("ac-" + $k);

  @include media.createMediaClasses(
    $k,
    (
      justify-content: $v,
    )
  );
  @include media.createMediaClasses(
    "a-" + $k,
    (
      align-items: $v,
    )
  );
  @include media.createMediaClasses(
    "ac-" + $k,
    (
      align-content: $v,
    )
  );
}
