$__medias: (
  xs: "max-width: 575px",
  mxs: "min-width: 575px",

  sm: "(min-width: 576px) and ( max-width: 767px)",
  msm: "min-width: 767px",
  lsm: "max-width: 576px",

  md: "(min-width: 768px) and ( max-width: 991px)",
  mmd: "min-width: 991px",
  lmd: "max-width: 768px",

  lg: "(min-width: 992px) and ( max-width: 1199px)",
  mlg: "min-width: 1199px",
  llg: "max-width: 992px",

  xl: "(min-width: 1200px) and ( max-width: 1399px)",
  mxl: "min-width: 1399px",
  lxl: "max-width: 1200px",

  xxl: "min-width: 1400px",
  lxxl: "max-width: 1400px",
);

@function mediaMap() {
  @return $__medias;
}

@function mediaSelectors($name) {
  @return (
    "[class~='#{$name}']",
    "[class~='xs:#{$name}']",
    "[class~='mxs:#{$name}']",
    "[class~='sm:#{$name}']",
    "[class~='msm:#{$name}']",
    "[class~='lsm:#{$name}']",
    "[class~='md:#{$name}']",
    "[class~='mmd:#{$name}']",
    "[class~='lmd:#{$name}']",
    "[class~='lg:#{$name}']",
    "[class~='mlg:#{$name}']",
    "[class~='llg:#{$name}']",
    "[class~='xl:#{$name}']",
    "[class~='mxl:#{$name}']",
    "[class~='lxl:#{$name}']",
    "[class~='xxl:#{$name}']",
    "[class~='lxxl:#{$name}']"
  );
}

@mixin createMediaRule($media, $className, $properties) {
  [class~="#{$media}:#{$className}"] {
    @each $key, $value in $properties {
      #{$key}: #{$value};
    }
  }
}
