.primary,
[class~="primary:hover"]:hover,
[class~="primary:focus"]:focus,
[class~="primary:active"]:active,
[class~="primary:selection"]::selection {
  color: var(--primary);
}

.bg-primary,
[class~="bg-primary:hover"]:hover,
[class~="bg-primary:focus"]:focus,
[class~="bg-primary:active"]:active,
[class~="bg-primary:selection"]::selection {
  background-color: var(--primary);
}

.primary-1,
[class~="primary-1:hover"]:hover,
[class~="primary-1:focus"]:focus,
[class~="primary-1:active"]:active,
[class~="primary-1:selection"]::selection {
  color: var(--primary-1);
}

.bg-primary-1,
[class~="bg-primary-1:hover"]:hover,
[class~="bg-primary-1:focus"]:focus,
[class~="bg-primary-1:active"]:active,
[class~="bg-primary-1:selection"]::selection {
  background-color: var(--primary-1);
}

.primary-2,
[class~="primary-2:hover"]:hover,
[class~="primary-2:focus"]:focus,
[class~="primary-2:active"]:active,
[class~="primary-2:selection"]::selection {
  color: var(--primary-2);
}

.bg-primary-2,
[class~="bg-primary-2:hover"]:hover,
[class~="bg-primary-2:focus"]:focus,
[class~="bg-primary-2:active"]:active,
[class~="bg-primary-2:selection"]::selection {
  background-color: var(--primary-2);
}

.primary-3,
[class~="primary-3:hover"]:hover,
[class~="primary-3:focus"]:focus,
[class~="primary-3:active"]:active,
[class~="primary-3:selection"]::selection {
  color: var(--primary-3);
}

.bg-primary-3,
[class~="bg-primary-3:hover"]:hover,
[class~="bg-primary-3:focus"]:focus,
[class~="bg-primary-3:active"]:active,
[class~="bg-primary-3:selection"]::selection {
  background-color: var(--primary-3);
}

.primary-4,
[class~="primary-4:hover"]:hover,
[class~="primary-4:focus"]:focus,
[class~="primary-4:active"]:active,
[class~="primary-4:selection"]::selection {
  color: var(--primary-4);
}

.bg-primary-4,
[class~="bg-primary-4:hover"]:hover,
[class~="bg-primary-4:focus"]:focus,
[class~="bg-primary-4:active"]:active,
[class~="bg-primary-4:selection"]::selection {
  background-color: var(--primary-4);
}

.primary-5,
[class~="primary-5:hover"]:hover,
[class~="primary-5:focus"]:focus,
[class~="primary-5:active"]:active,
[class~="primary-5:selection"]::selection {
  color: var(--primary-5);
}

.bg-primary-5,
[class~="bg-primary-5:hover"]:hover,
[class~="bg-primary-5:focus"]:focus,
[class~="bg-primary-5:active"]:active,
[class~="bg-primary-5:selection"]::selection {
  background-color: var(--primary-5);
}

.primary-6,
[class~="primary-6:hover"]:hover,
[class~="primary-6:focus"]:focus,
[class~="primary-6:active"]:active,
[class~="primary-6:selection"]::selection {
  color: var(--primary-6);
}

.bg-primary-6,
[class~="bg-primary-6:hover"]:hover,
[class~="bg-primary-6:focus"]:focus,
[class~="bg-primary-6:active"]:active,
[class~="bg-primary-6:selection"]::selection {
  background-color: var(--primary-6);
}

.accent,
[class~="accent:hover"]:hover,
[class~="accent:focus"]:focus,
[class~="accent:active"]:active,
[class~="accent:selection"]::selection {
  color: var(--accent);
}

.bg-accent,
[class~="bg-accent:hover"]:hover,
[class~="bg-accent:focus"]:focus,
[class~="bg-accent:active"]:active,
[class~="bg-accent:selection"]::selection {
  background-color: var(--accent);
}

.accent-1,
[class~="accent-1:hover"]:hover,
[class~="accent-1:focus"]:focus,
[class~="accent-1:active"]:active,
[class~="accent-1:selection"]::selection {
  color: var(--accent-1);
}

.bg-accent-1,
[class~="bg-accent-1:hover"]:hover,
[class~="bg-accent-1:focus"]:focus,
[class~="bg-accent-1:active"]:active,
[class~="bg-accent-1:selection"]::selection {
  background-color: var(--accent-1);
}

.accent-2,
[class~="accent-2:hover"]:hover,
[class~="accent-2:focus"]:focus,
[class~="accent-2:active"]:active,
[class~="accent-2:selection"]::selection {
  color: var(--accent-2);
}

.bg-accent-2,
[class~="bg-accent-2:hover"]:hover,
[class~="bg-accent-2:focus"]:focus,
[class~="bg-accent-2:active"]:active,
[class~="bg-accent-2:selection"]::selection {
  background-color: var(--accent-2);
}

.accent-3,
[class~="accent-3:hover"]:hover,
[class~="accent-3:focus"]:focus,
[class~="accent-3:active"]:active,
[class~="accent-3:selection"]::selection {
  color: var(--accent-3);
}

.bg-accent-3,
[class~="bg-accent-3:hover"]:hover,
[class~="bg-accent-3:focus"]:focus,
[class~="bg-accent-3:active"]:active,
[class~="bg-accent-3:selection"]::selection {
  background-color: var(--accent-3);
}

.accent-4,
[class~="accent-4:hover"]:hover,
[class~="accent-4:focus"]:focus,
[class~="accent-4:active"]:active,
[class~="accent-4:selection"]::selection {
  color: var(--accent-4);
}

.bg-accent-4,
[class~="bg-accent-4:hover"]:hover,
[class~="bg-accent-4:focus"]:focus,
[class~="bg-accent-4:active"]:active,
[class~="bg-accent-4:selection"]::selection {
  background-color: var(--accent-4);
}

.accent-5,
[class~="accent-5:hover"]:hover,
[class~="accent-5:focus"]:focus,
[class~="accent-5:active"]:active,
[class~="accent-5:selection"]::selection {
  color: var(--accent-5);
}

.bg-accent-5,
[class~="bg-accent-5:hover"]:hover,
[class~="bg-accent-5:focus"]:focus,
[class~="bg-accent-5:active"]:active,
[class~="bg-accent-5:selection"]::selection {
  background-color: var(--accent-5);
}

.accent-6,
[class~="accent-6:hover"]:hover,
[class~="accent-6:focus"]:focus,
[class~="accent-6:active"]:active,
[class~="accent-6:selection"]::selection {
  color: var(--accent-6);
}

.bg-accent-6,
[class~="bg-accent-6:hover"]:hover,
[class~="bg-accent-6:focus"]:focus,
[class~="bg-accent-6:active"]:active,
[class~="bg-accent-6:selection"]::selection {
  background-color: var(--accent-6);
}

.warn,
[class~="warn:hover"]:hover,
[class~="warn:focus"]:focus,
[class~="warn:active"]:active,
[class~="warn:selection"]::selection {
  color: var(--warn);
}

.bg-warn,
[class~="bg-warn:hover"]:hover,
[class~="bg-warn:focus"]:focus,
[class~="bg-warn:active"]:active,
[class~="bg-warn:selection"]::selection {
  background-color: var(--warn);
}

.warn-1,
[class~="warn-1:hover"]:hover,
[class~="warn-1:focus"]:focus,
[class~="warn-1:active"]:active,
[class~="warn-1:selection"]::selection {
  color: var(--warn-1);
}

.bg-warn-1,
[class~="bg-warn-1:hover"]:hover,
[class~="bg-warn-1:focus"]:focus,
[class~="bg-warn-1:active"]:active,
[class~="bg-warn-1:selection"]::selection {
  background-color: var(--warn-1);
}

.warn-2,
[class~="warn-2:hover"]:hover,
[class~="warn-2:focus"]:focus,
[class~="warn-2:active"]:active,
[class~="warn-2:selection"]::selection {
  color: var(--warn-2);
}

.bg-warn-2,
[class~="bg-warn-2:hover"]:hover,
[class~="bg-warn-2:focus"]:focus,
[class~="bg-warn-2:active"]:active,
[class~="bg-warn-2:selection"]::selection {
  background-color: var(--warn-2);
}

.warn-3,
[class~="warn-3:hover"]:hover,
[class~="warn-3:focus"]:focus,
[class~="warn-3:active"]:active,
[class~="warn-3:selection"]::selection {
  color: var(--warn-3);
}

.bg-warn-3,
[class~="bg-warn-3:hover"]:hover,
[class~="bg-warn-3:focus"]:focus,
[class~="bg-warn-3:active"]:active,
[class~="bg-warn-3:selection"]::selection {
  background-color: var(--warn-3);
}

.warn-4,
[class~="warn-4:hover"]:hover,
[class~="warn-4:focus"]:focus,
[class~="warn-4:active"]:active,
[class~="warn-4:selection"]::selection {
  color: var(--warn-4);
}

.bg-warn-4,
[class~="bg-warn-4:hover"]:hover,
[class~="bg-warn-4:focus"]:focus,
[class~="bg-warn-4:active"]:active,
[class~="bg-warn-4:selection"]::selection {
  background-color: var(--warn-4);
}

.warn-5,
[class~="warn-5:hover"]:hover,
[class~="warn-5:focus"]:focus,
[class~="warn-5:active"]:active,
[class~="warn-5:selection"]::selection {
  color: var(--warn-5);
}

.bg-warn-5,
[class~="bg-warn-5:hover"]:hover,
[class~="bg-warn-5:focus"]:focus,
[class~="bg-warn-5:active"]:active,
[class~="bg-warn-5:selection"]::selection {
  background-color: var(--warn-5);
}

.warn-6,
[class~="warn-6:hover"]:hover,
[class~="warn-6:focus"]:focus,
[class~="warn-6:active"]:active,
[class~="warn-6:selection"]::selection {
  color: var(--warn-6);
}

.bg-warn-6,
[class~="bg-warn-6:hover"]:hover,
[class~="bg-warn-6:focus"]:focus,
[class~="bg-warn-6:active"]:active,
[class~="bg-warn-6:selection"]::selection {
  background-color: var(--warn-6);
}

.error,
[class~="error:hover"]:hover,
[class~="error:focus"]:focus,
[class~="error:active"]:active,
[class~="error:selection"]::selection {
  color: var(--error);
}

.bg-error,
[class~="bg-error:hover"]:hover,
[class~="bg-error:focus"]:focus,
[class~="bg-error:active"]:active,
[class~="bg-error:selection"]::selection {
  background-color: var(--error);
}

.error-1,
[class~="error-1:hover"]:hover,
[class~="error-1:focus"]:focus,
[class~="error-1:active"]:active,
[class~="error-1:selection"]::selection {
  color: var(--error-1);
}

.bg-error-1,
[class~="bg-error-1:hover"]:hover,
[class~="bg-error-1:focus"]:focus,
[class~="bg-error-1:active"]:active,
[class~="bg-error-1:selection"]::selection {
  background-color: var(--error-1);
}

.error-2,
[class~="error-2:hover"]:hover,
[class~="error-2:focus"]:focus,
[class~="error-2:active"]:active,
[class~="error-2:selection"]::selection {
  color: var(--error-2);
}

.bg-error-2,
[class~="bg-error-2:hover"]:hover,
[class~="bg-error-2:focus"]:focus,
[class~="bg-error-2:active"]:active,
[class~="bg-error-2:selection"]::selection {
  background-color: var(--error-2);
}

.error-3,
[class~="error-3:hover"]:hover,
[class~="error-3:focus"]:focus,
[class~="error-3:active"]:active,
[class~="error-3:selection"]::selection {
  color: var(--error-3);
}

.bg-error-3,
[class~="bg-error-3:hover"]:hover,
[class~="bg-error-3:focus"]:focus,
[class~="bg-error-3:active"]:active,
[class~="bg-error-3:selection"]::selection {
  background-color: var(--error-3);
}

.error-4,
[class~="error-4:hover"]:hover,
[class~="error-4:focus"]:focus,
[class~="error-4:active"]:active,
[class~="error-4:selection"]::selection {
  color: var(--error-4);
}

.bg-error-4,
[class~="bg-error-4:hover"]:hover,
[class~="bg-error-4:focus"]:focus,
[class~="bg-error-4:active"]:active,
[class~="bg-error-4:selection"]::selection {
  background-color: var(--error-4);
}

.error-5,
[class~="error-5:hover"]:hover,
[class~="error-5:focus"]:focus,
[class~="error-5:active"]:active,
[class~="error-5:selection"]::selection {
  color: var(--error-5);
}

.bg-error-5,
[class~="bg-error-5:hover"]:hover,
[class~="bg-error-5:focus"]:focus,
[class~="bg-error-5:active"]:active,
[class~="bg-error-5:selection"]::selection {
  background-color: var(--error-5);
}

.error-6,
[class~="error-6:hover"]:hover,
[class~="error-6:focus"]:focus,
[class~="error-6:active"]:active,
[class~="error-6:selection"]::selection {
  color: var(--error-6);
}

.bg-error-6,
[class~="bg-error-6:hover"]:hover,
[class~="bg-error-6:focus"]:focus,
[class~="bg-error-6:active"]:active,
[class~="bg-error-6:selection"]::selection {
  background-color: var(--error-6);
}

.success,
[class~="success:hover"]:hover,
[class~="success:focus"]:focus,
[class~="success:active"]:active,
[class~="success:selection"]::selection {
  color: var(--success);
}

.bg-success,
[class~="bg-success:hover"]:hover,
[class~="bg-success:focus"]:focus,
[class~="bg-success:active"]:active,
[class~="bg-success:selection"]::selection {
  background-color: var(--success);
}

.success-1,
[class~="success-1:hover"]:hover,
[class~="success-1:focus"]:focus,
[class~="success-1:active"]:active,
[class~="success-1:selection"]::selection {
  color: var(--success-1);
}

.bg-success-1,
[class~="bg-success-1:hover"]:hover,
[class~="bg-success-1:focus"]:focus,
[class~="bg-success-1:active"]:active,
[class~="bg-success-1:selection"]::selection {
  background-color: var(--success-1);
}

.success-2,
[class~="success-2:hover"]:hover,
[class~="success-2:focus"]:focus,
[class~="success-2:active"]:active,
[class~="success-2:selection"]::selection {
  color: var(--success-2);
}

.bg-success-2,
[class~="bg-success-2:hover"]:hover,
[class~="bg-success-2:focus"]:focus,
[class~="bg-success-2:active"]:active,
[class~="bg-success-2:selection"]::selection {
  background-color: var(--success-2);
}

.success-3,
[class~="success-3:hover"]:hover,
[class~="success-3:focus"]:focus,
[class~="success-3:active"]:active,
[class~="success-3:selection"]::selection {
  color: var(--success-3);
}

.bg-success-3,
[class~="bg-success-3:hover"]:hover,
[class~="bg-success-3:focus"]:focus,
[class~="bg-success-3:active"]:active,
[class~="bg-success-3:selection"]::selection {
  background-color: var(--success-3);
}

.success-4,
[class~="success-4:hover"]:hover,
[class~="success-4:focus"]:focus,
[class~="success-4:active"]:active,
[class~="success-4:selection"]::selection {
  color: var(--success-4);
}

.bg-success-4,
[class~="bg-success-4:hover"]:hover,
[class~="bg-success-4:focus"]:focus,
[class~="bg-success-4:active"]:active,
[class~="bg-success-4:selection"]::selection {
  background-color: var(--success-4);
}

.success-5,
[class~="success-5:hover"]:hover,
[class~="success-5:focus"]:focus,
[class~="success-5:active"]:active,
[class~="success-5:selection"]::selection {
  color: var(--success-5);
}

.bg-success-5,
[class~="bg-success-5:hover"]:hover,
[class~="bg-success-5:focus"]:focus,
[class~="bg-success-5:active"]:active,
[class~="bg-success-5:selection"]::selection {
  background-color: var(--success-5);
}

.success-6,
[class~="success-6:hover"]:hover,
[class~="success-6:focus"]:focus,
[class~="success-6:active"]:active,
[class~="success-6:selection"]::selection {
  color: var(--success-6);
}

.bg-success-6,
[class~="bg-success-6:hover"]:hover,
[class~="bg-success-6:focus"]:focus,
[class~="bg-success-6:active"]:active,
[class~="bg-success-6:selection"]::selection {
  background-color: var(--success-6);
}

.info,
[class~="info:hover"]:hover,
[class~="info:focus"]:focus,
[class~="info:active"]:active,
[class~="info:selection"]::selection {
  color: var(--info);
}

.bg-info,
[class~="bg-info:hover"]:hover,
[class~="bg-info:focus"]:focus,
[class~="bg-info:active"]:active,
[class~="bg-info:selection"]::selection {
  background-color: var(--info);
}

.info-1,
[class~="info-1:hover"]:hover,
[class~="info-1:focus"]:focus,
[class~="info-1:active"]:active,
[class~="info-1:selection"]::selection {
  color: var(--info-1);
}

.bg-info-1,
[class~="bg-info-1:hover"]:hover,
[class~="bg-info-1:focus"]:focus,
[class~="bg-info-1:active"]:active,
[class~="bg-info-1:selection"]::selection {
  background-color: var(--info-1);
}

.info-2,
[class~="info-2:hover"]:hover,
[class~="info-2:focus"]:focus,
[class~="info-2:active"]:active,
[class~="info-2:selection"]::selection {
  color: var(--info-2);
}

.bg-info-2,
[class~="bg-info-2:hover"]:hover,
[class~="bg-info-2:focus"]:focus,
[class~="bg-info-2:active"]:active,
[class~="bg-info-2:selection"]::selection {
  background-color: var(--info-2);
}

.info-3,
[class~="info-3:hover"]:hover,
[class~="info-3:focus"]:focus,
[class~="info-3:active"]:active,
[class~="info-3:selection"]::selection {
  color: var(--info-3);
}

.bg-info-3,
[class~="bg-info-3:hover"]:hover,
[class~="bg-info-3:focus"]:focus,
[class~="bg-info-3:active"]:active,
[class~="bg-info-3:selection"]::selection {
  background-color: var(--info-3);
}

.info-4,
[class~="info-4:hover"]:hover,
[class~="info-4:focus"]:focus,
[class~="info-4:active"]:active,
[class~="info-4:selection"]::selection {
  color: var(--info-4);
}

.bg-info-4,
[class~="bg-info-4:hover"]:hover,
[class~="bg-info-4:focus"]:focus,
[class~="bg-info-4:active"]:active,
[class~="bg-info-4:selection"]::selection {
  background-color: var(--info-4);
}

.info-5,
[class~="info-5:hover"]:hover,
[class~="info-5:focus"]:focus,
[class~="info-5:active"]:active,
[class~="info-5:selection"]::selection {
  color: var(--info-5);
}

.bg-info-5,
[class~="bg-info-5:hover"]:hover,
[class~="bg-info-5:focus"]:focus,
[class~="bg-info-5:active"]:active,
[class~="bg-info-5:selection"]::selection {
  background-color: var(--info-5);
}

.info-6,
[class~="info-6:hover"]:hover,
[class~="info-6:focus"]:focus,
[class~="info-6:active"]:active,
[class~="info-6:selection"]::selection {
  color: var(--info-6);
}

.bg-info-6,
[class~="bg-info-6:hover"]:hover,
[class~="bg-info-6:focus"]:focus,
[class~="bg-info-6:active"]:active,
[class~="bg-info-6:selection"]::selection {
  background-color: var(--info-6);
}

.warning,
[class~="warning:hover"]:hover,
[class~="warning:focus"]:focus,
[class~="warning:active"]:active,
[class~="warning:selection"]::selection {
  color: var(--warning);
}

.bg-warning,
[class~="bg-warning:hover"]:hover,
[class~="bg-warning:focus"]:focus,
[class~="bg-warning:active"]:active,
[class~="bg-warning:selection"]::selection {
  background-color: var(--warning);
}

.warning-1,
[class~="warning-1:hover"]:hover,
[class~="warning-1:focus"]:focus,
[class~="warning-1:active"]:active,
[class~="warning-1:selection"]::selection {
  color: var(--warning-1);
}

.bg-warning-1,
[class~="bg-warning-1:hover"]:hover,
[class~="bg-warning-1:focus"]:focus,
[class~="bg-warning-1:active"]:active,
[class~="bg-warning-1:selection"]::selection {
  background-color: var(--warning-1);
}

.warning-2,
[class~="warning-2:hover"]:hover,
[class~="warning-2:focus"]:focus,
[class~="warning-2:active"]:active,
[class~="warning-2:selection"]::selection {
  color: var(--warning-2);
}

.bg-warning-2,
[class~="bg-warning-2:hover"]:hover,
[class~="bg-warning-2:focus"]:focus,
[class~="bg-warning-2:active"]:active,
[class~="bg-warning-2:selection"]::selection {
  background-color: var(--warning-2);
}

.warning-3,
[class~="warning-3:hover"]:hover,
[class~="warning-3:focus"]:focus,
[class~="warning-3:active"]:active,
[class~="warning-3:selection"]::selection {
  color: var(--warning-3);
}

.bg-warning-3,
[class~="bg-warning-3:hover"]:hover,
[class~="bg-warning-3:focus"]:focus,
[class~="bg-warning-3:active"]:active,
[class~="bg-warning-3:selection"]::selection {
  background-color: var(--warning-3);
}

.warning-4,
[class~="warning-4:hover"]:hover,
[class~="warning-4:focus"]:focus,
[class~="warning-4:active"]:active,
[class~="warning-4:selection"]::selection {
  color: var(--warning-4);
}

.bg-warning-4,
[class~="bg-warning-4:hover"]:hover,
[class~="bg-warning-4:focus"]:focus,
[class~="bg-warning-4:active"]:active,
[class~="bg-warning-4:selection"]::selection {
  background-color: var(--warning-4);
}

.warning-5,
[class~="warning-5:hover"]:hover,
[class~="warning-5:focus"]:focus,
[class~="warning-5:active"]:active,
[class~="warning-5:selection"]::selection {
  color: var(--warning-5);
}

.bg-warning-5,
[class~="bg-warning-5:hover"]:hover,
[class~="bg-warning-5:focus"]:focus,
[class~="bg-warning-5:active"]:active,
[class~="bg-warning-5:selection"]::selection {
  background-color: var(--warning-5);
}

.warning-6,
[class~="warning-6:hover"]:hover,
[class~="warning-6:focus"]:focus,
[class~="warning-6:active"]:active,
[class~="warning-6:selection"]::selection {
  color: var(--warning-6);
}

.bg-warning-6,
[class~="bg-warning-6:hover"]:hover,
[class~="bg-warning-6:focus"]:focus,
[class~="bg-warning-6:active"]:active,
[class~="bg-warning-6:selection"]::selection {
  background-color: var(--warning-6);
}

.white,
[class~="white:hover"]:hover,
[class~="white:focus"]:focus,
[class~="white:active"]:active,
[class~="white:selection"]::selection {
  color: var(--white);
}

.bg-white,
[class~="bg-white:hover"]:hover,
[class~="bg-white:focus"]:focus,
[class~="bg-white:active"]:active,
[class~="bg-white:selection"]::selection {
  background-color: var(--white);
}

.white-1,
[class~="white-1:hover"]:hover,
[class~="white-1:focus"]:focus,
[class~="white-1:active"]:active,
[class~="white-1:selection"]::selection {
  color: var(--white-1);
}

.bg-white-1,
[class~="bg-white-1:hover"]:hover,
[class~="bg-white-1:focus"]:focus,
[class~="bg-white-1:active"]:active,
[class~="bg-white-1:selection"]::selection {
  background-color: var(--white-1);
}

.white-2,
[class~="white-2:hover"]:hover,
[class~="white-2:focus"]:focus,
[class~="white-2:active"]:active,
[class~="white-2:selection"]::selection {
  color: var(--white-2);
}

.bg-white-2,
[class~="bg-white-2:hover"]:hover,
[class~="bg-white-2:focus"]:focus,
[class~="bg-white-2:active"]:active,
[class~="bg-white-2:selection"]::selection {
  background-color: var(--white-2);
}

.white-3,
[class~="white-3:hover"]:hover,
[class~="white-3:focus"]:focus,
[class~="white-3:active"]:active,
[class~="white-3:selection"]::selection {
  color: var(--white-3);
}

.bg-white-3,
[class~="bg-white-3:hover"]:hover,
[class~="bg-white-3:focus"]:focus,
[class~="bg-white-3:active"]:active,
[class~="bg-white-3:selection"]::selection {
  background-color: var(--white-3);
}

.white-4,
[class~="white-4:hover"]:hover,
[class~="white-4:focus"]:focus,
[class~="white-4:active"]:active,
[class~="white-4:selection"]::selection {
  color: var(--white-4);
}

.bg-white-4,
[class~="bg-white-4:hover"]:hover,
[class~="bg-white-4:focus"]:focus,
[class~="bg-white-4:active"]:active,
[class~="bg-white-4:selection"]::selection {
  background-color: var(--white-4);
}

.white-5,
[class~="white-5:hover"]:hover,
[class~="white-5:focus"]:focus,
[class~="white-5:active"]:active,
[class~="white-5:selection"]::selection {
  color: var(--white-5);
}

.bg-white-5,
[class~="bg-white-5:hover"]:hover,
[class~="bg-white-5:focus"]:focus,
[class~="bg-white-5:active"]:active,
[class~="bg-white-5:selection"]::selection {
  background-color: var(--white-5);
}

.white-6,
[class~="white-6:hover"]:hover,
[class~="white-6:focus"]:focus,
[class~="white-6:active"]:active,
[class~="white-6:selection"]::selection {
  color: var(--white-6);
}

.bg-white-6,
[class~="bg-white-6:hover"]:hover,
[class~="bg-white-6:focus"]:focus,
[class~="bg-white-6:active"]:active,
[class~="bg-white-6:selection"]::selection {
  background-color: var(--white-6);
}

.black,
[class~="black:hover"]:hover,
[class~="black:focus"]:focus,
[class~="black:active"]:active,
[class~="black:selection"]::selection {
  color: var(--black);
}

.bg-black,
[class~="bg-black:hover"]:hover,
[class~="bg-black:focus"]:focus,
[class~="bg-black:active"]:active,
[class~="bg-black:selection"]::selection {
  background-color: var(--black);
}

.black-1,
[class~="black-1:hover"]:hover,
[class~="black-1:focus"]:focus,
[class~="black-1:active"]:active,
[class~="black-1:selection"]::selection {
  color: var(--black-1);
}

.bg-black-1,
[class~="bg-black-1:hover"]:hover,
[class~="bg-black-1:focus"]:focus,
[class~="bg-black-1:active"]:active,
[class~="bg-black-1:selection"]::selection {
  background-color: var(--black-1);
}

.black-2,
[class~="black-2:hover"]:hover,
[class~="black-2:focus"]:focus,
[class~="black-2:active"]:active,
[class~="black-2:selection"]::selection {
  color: var(--black-2);
}

.bg-black-2,
[class~="bg-black-2:hover"]:hover,
[class~="bg-black-2:focus"]:focus,
[class~="bg-black-2:active"]:active,
[class~="bg-black-2:selection"]::selection {
  background-color: var(--black-2);
}

.black-3,
[class~="black-3:hover"]:hover,
[class~="black-3:focus"]:focus,
[class~="black-3:active"]:active,
[class~="black-3:selection"]::selection {
  color: var(--black-3);
}

.bg-black-3,
[class~="bg-black-3:hover"]:hover,
[class~="bg-black-3:focus"]:focus,
[class~="bg-black-3:active"]:active,
[class~="bg-black-3:selection"]::selection {
  background-color: var(--black-3);
}

.black-4,
[class~="black-4:hover"]:hover,
[class~="black-4:focus"]:focus,
[class~="black-4:active"]:active,
[class~="black-4:selection"]::selection {
  color: var(--black-4);
}

.bg-black-4,
[class~="bg-black-4:hover"]:hover,
[class~="bg-black-4:focus"]:focus,
[class~="bg-black-4:active"]:active,
[class~="bg-black-4:selection"]::selection {
  background-color: var(--black-4);
}

.black-5,
[class~="black-5:hover"]:hover,
[class~="black-5:focus"]:focus,
[class~="black-5:active"]:active,
[class~="black-5:selection"]::selection {
  color: var(--black-5);
}

.bg-black-5,
[class~="bg-black-5:hover"]:hover,
[class~="bg-black-5:focus"]:focus,
[class~="bg-black-5:active"]:active,
[class~="bg-black-5:selection"]::selection {
  background-color: var(--black-5);
}

.black-6,
[class~="black-6:hover"]:hover,
[class~="black-6:focus"]:focus,
[class~="black-6:active"]:active,
[class~="black-6:selection"]::selection {
  color: var(--black-6);
}

.bg-black-6,
[class~="bg-black-6:hover"]:hover,
[class~="bg-black-6:focus"]:focus,
[class~="bg-black-6:active"]:active,
[class~="bg-black-6:selection"]::selection {
  background-color: var(--black-6);
} /*# sourceMappingURL=style.css.map */
